.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    border: 1px solid red;
    gap: 10px;
    padding: 5ch;
}

.form-group{
    display: flex;
    /* border: 1px solid rgb(12, 142, 255); */
    justify-content: left;
    flex-direction: column;
}
.messbox{
    display: flex;
    /* border: 1px solid rgb(66, 0, 43); */
    justify-content: left;
    flex-direction: column;
}

.body label{
    font-size: large;
    font-weight: bolder;

}
.tarea{
    resize: none;
    height: 250px;
    width: 250px;
}